In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from keras.layers import *
from keras.models import *
from keras.utils import *
from sklearn.preprocessing import *

Using TensorFlow backend.

In [83]:
label = ['feat{}'.format(i) for i in range(73)]

df = pd.read_csv('eighthr.data', names= label)
df

,feat0,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,...,feat63,feat64,feat65,feat66,feat67,feat68,feat69,feat70,feat71,feat72
1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,?,?,?,?,?,?,?,?,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800,-25.6,21.8,10295,65,0,0.0
12/28/2004,1,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845,-19.4,19.1,10310,15,0,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.8,-0.64,5845,-9.6,35.2,10275,-35,0,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1,1.9,2,...,0.25,7.72,-0.89,5845,-19.6,34.2,10245,-30,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3,...,0.54,13.07,9.15,5820,1.95,39.35,10220,-25,0,0.0

In [84]:
#피쳐의 데이터 타입을 볼수 있다.
df.dtypes

#df에 object들을 숫자로 바꿔주는 함수. coerce는 숫자로 바꿀수 없을때 NaN으로 처리한다.
df = df.apply(pd.to_numeric, errors='coerce')

In [85]:
#Nan을 버린다.
df.dropna(inplace=True)
df

,feat0,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,...,feat63,feat64,feat65,feat66,feat67,feat68,feat69,feat70,feat71,feat72
1/1/1998,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08,0.0
1/7/1998,3.7,3.2,3.8,5.1,6.0,7.0,6.3,6.4,6.3,5.4,...,0.84,6.86,25.60,5695.0,26.75,48.45,10040.0,-80.0,0.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00,0.0
12/28/2004,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00,0.0

In [86]:
Y = df['feat72']
Y

1/1/1998      0.0
1/2/1998      0.0
1/3/1998      0.0
1/4/1998      0.0
1/7/1998      0.0
             ...
12/27/2004    0.0
12/28/2004    0.0
12/29/2004    0.0
12/30/2004    0.0
12/31/2004    0.0
Name: feat72, Length: 1847, dtype: float64

In [87]:
Y = to_categorical(Y)
Y.shape

(1847, 2)

In [88]:
X = df.drop(['feat72'], axis=1)

X_train = np.asarray(X[:-100].values.tolist(), dtype=np.float64)
X_test = np.asarray(X[-100:].values.tolist(), dtype=np.float64)
Y_train = Y[:-100]
Y_test =Y[-100:]

In [89]:
X_train.shape

(1747, 72)

In [90]:
Y_train.shape

(1747, 2)

In [91]:
X_train = X_train[:1700]
Y_train = Y_train[:1700]

In [92]:
#(sample, timestep, feature)
#10으로 나누기위해 위에를 1700까지만 처리한다.
X_train = X_train.reshape(-1,10,72)
Y_train = Y_train.reshape(-1,10,2)

In [93]:
#데이터가 170개로 변경한다 (timestep을 10개를넣었기때문에 1700/10)
X_train.shape

(170, 10, 72)

In [94]:
Y_train.shape

(170, 10, 2)

In [102]:
model = Sequential()
#input_shape(timestep, feature)
#LSTM에 층층히 쌓으려면 return_sequences=True로 해야한다.
model.add(LSTM(128, input_shape=(10, 72), return_sequences= True))
model.add(LSTM(256, return_sequences= True))
model.add(Dense(2, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_13 (LSTM)               (None, 10, 128)           102912
_________________________________________________________________
lstm_14 (LSTM)               (None, 10, 256)           394240
_________________________________________________________________
dense_7 (Dense)              (None, 10, 2)             514
=================================================================
Total params: 497,666
Trainable params: 497,666
Non-trainable params: 0
_________________________________________________________________

In [103]:
model.fit(X_train, Y_train, epochs=10, batch_size=1 , validation_split=0.1)

Train on 153 samples, validate on 17 samples
Epoch 1/10
153/153 [==============================] - 3s 18ms/step - loss: 0.3092 - accuracy: 0.9196 - val_loss: 0.0759 - val_accuracy: 1.0000
Epoch 2/10
153/153 [==============================] - 2s 12ms/step - loss: 0.2952 - accuracy: 0.9196 - val_loss: 0.0764 - val_accuracy: 1.0000
Epoch 3/10
153/153 [==============================] - 2s 12ms/step - loss: 0.2841 - accuracy: 0.9196 - val_loss: 0.1219 - val_accuracy: 1.0000
Epoch 4/10
153/153 [==============================] - 2s 12ms/step - loss: 0.2861 - accuracy: 0.9196 - val_loss: 0.0707 - val_accuracy: 1.0000
Epoch 5/10
153/153 [==============================] - 2s 12ms/step - loss: 0.2835 - accuracy: 0.9196 - val_loss: 0.0662 - val_accuracy: 1.0000
Epoch 6/10
153/153 [==============================] - 2s 13ms/step - loss: 0.2852 - accuracy: 0.9196 - val_loss: 0.1063 - val_accuracy: 1.0000
Epoch 7/10
153/153 [==============================] - 2s 13ms/step - loss: 0.2811 - accuracy: 0.9196 - val_loss: 0.0560 - val_accuracy: 1.0000
Epoch 8/10
153/153 [==============================] - 2s 13ms/step - loss: 0.2826 - accuracy: 0.9196 - val_loss: 0.0932 - val_accuracy: 1.0000
Epoch 9/10
153/153 [==============================] - 2s 13ms/step - loss: 0.2825 - accuracy: 0.9196 - val_loss: 0.0973 - val_accuracy: 1.0000
Epoch 10/10
153/153 [==============================] - 2s 13ms/step - loss: 0.2826 - accuracy: 0.9196 - val_loss: 0.0830 - val_accuracy: 1.0000

In [107]:
Y_test = Y_test.reshape(-1, 10, 2)
X_test = X_test.reshape(-1,10,72)

In [108]:
score = model.evaluate(X_test, Y_test)
print(score)

10/10 [==============================] - 0s 2ms/step
[0.13123753666877747, 0.9800000190734863]